<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<section style="max-width: 632px;" class="mx-auto px-2">
  <div class="d-block text-center">
    <img src="assets/images/logo.jpg" alt="logo">
  </div>
  <div class="card bg-warning">
    <span class="text-center font-weight-bold text-primary size-xxl">Minhas Tarefas</span>
    <div class="mb-0">
      <div *ngFor="let i of modelChecklistAll; let index= index ">
        <div class="card m-3 px-1 py-1">
          <div *ngIf="activeAll">
            <div class="d-flex justify-content-between mb-3">
              <span class="text-success">{{i.date | date:'dd/MM/yyyy'}}</span>
              <svg-icon (click)="removeCheck(index)" src="assets/images/trash.svg"
                        [svgStyle]="{'fill':'red','width.px':20}">
              </svg-icon>
            </div>
            <div class=" form-check form-check-inline">
              <input class="form-check-input" [(ngModel)]="i.isSelect" type="checkbox" name="{{i.name}}"
                     (change)="onChangeCategory($event, modelChecklistAll)">
              <label class="form-check-label">{{i.name}}</label>
            </div>
          </div>

          <div *ngIf="activeAll; else elseBlock">

          </div>
          <ng-template #elseBlock>
            <div *ngIf="!i.isSelect">
              <div class="d-flex justify-content-between mb-3">
                <span class="text-success">{{i.date | date:'dd/MM/yyyy'}}</span>
                <svg-icon (click)="removeCheck(index)" src="assets/images/trash.svg"
                          [svgStyle]="{'fill':'red','width.px':20}">
                </svg-icon>
              </div>
              <div class=" form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="i.isSelect" type="checkbox" name="{{i.name}}"
                       (change)="onChangeCategory($event, modelChecklistAll)">
                <label class="form-check-label">{{i.name}}</label>
              </div>
            </div>
          </ng-template>


        </div>
      </div>

    </div>
    <div class="mx-3 mb-3">
      <a href="#" (click)="test()" *ngIf="!this.activeAll" class="btn btn-block btn-primary">
        Exibir concluidos
      </a>
      <a href="#" (click)="test()" *ngIf="this.activeAll" class="btn btn-block btn-primary">
        Ocultar concluidos
      </a>
    </div>

  </div>
  <a href="#" (click)="actionModal()" class="btn btn-quinternary btn-lg btn-block mt-3">
    Nova Tarefa
  </a>
</section>

<!-- Modal Note Detail -->
<div class="modal-custom modal fade mx-auto" id="modalNoteResume" data-keyboard="false" data-backdrop="static"
     role="dialog" aria-labelledby="modalNoteResumeLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" style="max-width: 500px" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="">Nova Tarefa</span>
        <a href="javascript:void('Fechar');" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </a>
      </div>
      <div class="modal-body modal-body--small">
        <label for="textarea">Nome/Descrição</label>
        <textarea [(ngModel)]="this.pushCheck.name" id="textarea" class="w-100"></textarea>
        <a href="#" (click)="actionNew()" class="btn btn-light btn-lg btn-block mt-3">
          Registrar
        </a>

      </div>
    </div>
  </div>
</div>
