<div class="card bg-warning">
    <span class="text-center font-weight-bold text-primary size-xxl">Minhas Tarefas</span>
    <ul class="mb-0">
        <li class="card m-3 px-1 py-1" *ngFor="let i of model">
            <div class="d-flex justify-content-between mb-3">
                <span class="text-success">27/03/2021</span>
                <svg-icon src="assets/images/trash.svg" [svgStyle]="{'width.px':20,'fill':'red'}">
                </svg-icon>
            </div>
            <div class=" form-check form-check-inline">
                <input class="form-check-input" sngModel="i.isSelect"
                    (click)="onChangeCategory($event, model)" type="checkbox" id="{{i.name}}"
                    value="{{i.name}}">
                <label class="form-check-label" for="{{i.name}}">{{i.name}}</label>
            </div>
        </li>
    </ul>
    <div class="mx-3 mb-3">
        <a href="#" (click)="test()" class="btn btn-block btn-primary">
            Exibir concluidos
        </a>
    </div>

</div>